/*
Para correr tailwind
npx tailwindcss -i ./src/estilos.css -o ./src/estilos/output.css --watch
*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html,
body {
	--tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
	scroll-behavior: smooth;
}

h1,
h2 {
	font-family: "Oswald", sans-serif;
}

nav a {
	font-family: "Kanit", sans-serif;
}

p {
	font-family: "Kanit", sans-serif;
}

form {
	font-family: "Kanit", sans-serif;
}

button {
	font-family: "Kanit", sans-serif !important;
}

.logotipo img:hover {
	animation: vuelavuela 4s forwards;
}

.navegacion {
	text-transform: uppercase;
}


.fa-facebook {
	color: #212b4f;
	font-size: 30px !important;
	border: 5px outset #e4007c;
	border-radius: 50%;
}

.fa-facebook:hover {
	color: blue;
	background-color: white;
	border-color: #e4007c;
	animation: vuelavuela 2s forwards;
}

.fa-instagram {
	color: #212b4f;
	font-size: 30px !important;
	border: 5px outset #e4007c;
	border-radius: 50%;
}

.fa-instagram:hover {
	color: white;
	background-color: #bc2a8d;
	border-color: #e4007c;
	animation: vuelavuela 2s forwards;
}

.fa-phone {
	color: #212b4f;
	font-size: 30px !important;
	border: 5px outset #e4007c;
	border-radius: 50%;
}

.fa-phone:hover {
	color: black;
	background-color: white;
	border-color: #e4007c;
	animation: vuelavuela 2s forwards;
}

.whats{
	color: #212b4f;
	font-size: 30px !important;
	border: 5px outset #e4007c;
	border-radius: 50%;
}

.whats:hover{
	color: #FFF;
	background-color: #4EFC5D;
	border-color: #e4007c;
	animation: vuelavuela 2s forwards;
}

.contacto{
	color: #212b4f;
	font-size: 15px !important;
	margin-bottom: 10px;
}

@keyframes vuelavuela {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(60deg);
	}
	50% {
		transform: rotate(10deg);
	}
	75% {
		transform: rotate(100deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.titulo {
	z-index: 0;
}

.titulo::after {
	content: "";
	padding: 10px;
	margin-top: -20px;
	width: 100%;
	z-index: -1;
	padding-bottom: 20px;
	background-color: #538cdc;
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
	border-radius: 10% / 50%;
}

.animation-pulse {
	/*box-shadow: 0 0 0 20px rgba(229,62,62, 0.5);
    transform: scale(0.8);*/
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 60px rgba(229, 62, 62, 0);
	}

	100% {
		transform: scale(0.8);
	}
}
.carousel-container {
  min-height: 200px;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 85%;
  }
}


.carousel-container .card-container {
  width: 259px;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .info {
  background: #e4007c;
  opacity: .6;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: hidden;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel .pelicula:hover {
		transform: scale(1.5);
		transform-origin:center;
	}
	
}
