/* Fuentes de Google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Linux";
	font-weight: 400;
	src: url("../assets/font/LinuxLibertine/LinLibertine_Rah.ttf")
		format("TrueType");
}

@font-face {
	font-family: "Linux";
	font-weight: 700;
	src: url("../assets/font/LinuxLibertine/LinLibertine_RBah.ttf")
		format("TrueType");
}

@font-face {
	font-family: "Linux";
	font-weight: 400;
	font-style: italic;
	src: url("../assets/font/LinuxLibertine/LinLibertine_RIah.ttf")
		format("TrueType");
}

@font-face {
	font-family: "Fashion";
	font-weight: 400;
	src: url("../assets/font/FashionFetish/FashionFetishRegular.ttf")
		format("TrueType");
}

@font-face {
	font-family: "Fashion";
	font-weight: 600;
	src: url("../assets/font/FashionFetish/FashionFetishBold.ttf")
		format("TrueType");
}

@font-face {
	font-family: "Fashion";
	font-weight: 800;
	src: url("../assets/font/FashionFetish/FashionFetishHeavy.ttf")
		format("TrueType");
}
